:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  text-align: left;
}

header h1 {
  font-size: 2em;
  /* color:; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #812a9b;
  background: radial-gradient(
    circle,
    rgba(129, 42, 155, 1) 0%,
    rgba(87, 93, 199, 1) 75%,
    rgba(237, 83, 232, 0.33) 100%
  );
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff64e8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#answerButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
#currentQuestion {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#answerMessage {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttonA {
  border-radius: 8px;
  border: 4px solid transparent;
  padding: 1.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #50414e;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 45%;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.progress-container {
  width: 100%;
  max-width: 760px;
  height: 10px;
  background-color: #fa00ed;
  border-radius: 999px;
  overflow: hidden;
  margin: 20px auto 30px auto;
}

#display-progress {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #000000, #000000);
  transition: width 0.3s ease;
}
